.chat {
    flex: 0.65;
    display: flex;
    flex-direction: column;
  }
  
  .chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  .chat__headerInfo {
    flex: 1;
    padding-left: 20px;
  }
  
  .chat__headerInfo > h3 {
    margin-top: 0.5rem;
    margin-bottom: 3px;
    font-weight: 600;
  }
  
  .chat__headerInfo > p {
    color: gray;
    font-size: 0.75rem;
  }
  
  .chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 6.25rem;
    padding: 0.25rem;
  }
  .chat__header > .MuiSvgIcon-root{
    font-size: 3rem !important;
    color: var(--user-blue);
  }
  .welcome__body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .welcome__text{
    color: var(--CTA);
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
  }
  
  .chat__body {
    flex: 1;
    background-image: url("../../assets/chat-background.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
    
  }
  
  .chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .chat__receiver {
    margin-left: auto;
    background-color: #dcf8c6;
  }
  .chat__receiverName{
    position: absolute;
    right: 0.5rem;
    top: -1rem;
    font-weight: 300;
    font-size: 0.5rem;
  }
  
  .chat__name {
    position: absolute;
    top: -1rem;
    font-weight: 500;
    font-size: 0.6rem;
  
  }
  
  .chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
  }
  
  .chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
  }
  
  .chat__footer > form {
    flex: 1;
    display: flex;
  }
  
  .chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
  }
  
  .chat__footer > form > button {
    display: none;
  }
  
  .chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
  }
  
  @media screen and (max-width:700px){
    
    .chat{
      display: none;
    }
  }